#admin_dashboard--all-product {
  & > h1 {
    font-size: 35px;
    padding: 10px 20px;
  }

  & > #admin_dashboard--table-product {
    width: 100%;
    // min-height: 500px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    & > #admin_dashboard--table-title {
      width: 100%;
      border-bottom: 2px solid;
      padding: 10px 25px;
      background-color: #f7f7f7;
      & > span {
        display: flex;
        align-items: center;
        font-size: 19px;
        // font-weight: 600;
        & > ion-icon {
          font-size: 20px;
          padding: 0 10px;
        }
      }
    }

    & > #admin_dashboard--table-item {
      padding: 20px;
      & > #admin_dashboard--table-entries-per-page {
        & > select {
          margin-left: 10px;
          padding: 8px 20px;
          outline: none;
          text-align: start;
        }
      }

      & > #admin_dashboard--table-item-product {
        width: 100%;
        padding: 20px 0;
        table {
          //   display: block
          width: 100%;
          border-spacing: 10px;
          tr {
            &:nth-child(even) {
              background-color: #d6eeee;
            }

            th {
              text-align: center;
            }

            th,
            td {
              padding: 5px 10px;
              border: 1px solid;
            }

            td:first-child {
              max-width: 250px;

              & > span {
                display: -webkit-box;
                height: 30px;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }
            }
            .admin_dashboard--table-edit-product {
              width: 100%;
              display: flex;
              justify-content: space-around;

              & > button {
                width: calc(100% / 2 - 10px);
                max-width: 100px;
                padding: 5px 10px;
                color: #f7f7f7;
                border: none;
                border-radius: 5px;

                &:first-child {
                  background-color: red;
                }

                &:last-child {
                  background-color: #15c3cf;
                }

                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }

      & > #admin_dashboard--table-item-pagination {
        display: flex;
        justify-content: center;
        & > .admin_dashboard--table-pagination-btn {
          padding: 5px 10px;
          margin: 0 2px;
          background-color: #fff;
          border: 1px solid #ccc;
          // color: red;
          &.active {
            color: #15c3cf;
          }
        }
      }
    }
  }
}
